* {
    padding: 0;
    margin: 0;
}

:root { 
    --color: rgb(255, 238, 0);
    --seccolor: rgb(224, 205, 93);
    --defpad: 25px; /* setting the default padding of the element */
    --defop: 0.3; /* setting the opacity of the element */
}

.box {
    /* background-color: green; */
    background-color: var(--color);    
}

.container {
    /* background-color: greenyellow; */
    background-color: var(--seccolor); 
}

ul {
    display: flex;
}

ul li {
    /* padding: 35px; */
    list-style: none;
    border: 2px solid var(--seccolor);
    border-color: red; /* Add this line to change the border color to red */
    padding: var(--defpad);
    opacity: var(--defop);  
    /* If we set here, opacity: 0.5, then this property will be applied as it is a local variable set exclusively for this */
}

ul li:first-child {
    --color: rgb(255, 115, 0); /* Now, this is a local variable here, so it will override the global variable values and  
                                    display this instead of yellow. */
    background-color: var(--color, blue); /* If the local variable is not defined, then it will display the global 
                                               variable value. */
}