nav ul {
    list-style-type: devanagari;
    background-color: yellow;
    list-style-position: inside;
    /*list-style-image: url("https://user-images.githubusercontent.com/14011726/94132137-7d4fc100-fe7c-11ea-8512-69f90cb65e48.gif");*/
    list-style-type: "❤️";
}

div ul {
    list-style:circle inside;
    list-style-type: "👍";
    /* I can even use - list-style : url("https://user-images.githubusercontent.com/14011726/94132137-7d4fc100-fe7c-11ea-8512-69f90cb65e48.gif") inside; */ 
}