div > p:nth-of-type(1) {
    box-sizing: border-box;
    width: 1366px;
    border: 2px solid black;
    background-color: aqua;    
}

div > p:nth-of-type(2) {
    width: 80vw;
    margin: auto;
    box-sizing: border-box;
    background-color: yellow;
    border: 2px solid black;
}

p {
    font-size: 18px;
}

div > p:nth-of-type(3) {
    height: 60vh;
    margin: auto;
    background-color: lawngreen;
    color: white;
    box-sizing: border-box;
    font-size: 2em;
}

.mycont {
    background-color: red;
    border: 2px solid black;
    margin: 23px auto;
    color: yellow;
    font-size: 22px;
    width: 100vh;
    min-height: 80vh;
}