*{
    margin: 0;
    padding: 0;
}
.box {
    border: 2px solid blue;
    /* If I give here 'display:inline', then the rest of the properties like width, margin and padding won't work here. 
    Hence making it act like a block level element, even though we made it turn into an inline level element. */
    display: inline-block;
    width: 344px;
    padding:45px;
    margin: 34px; 
}

.box1 {
    /* display: none; */
    /* visibility: hidden; */
}