h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-style: italic;
    font-weight:900;
    text-decoration: underline;
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size:20px;
    /*font-size:large;*/
}

article {
    line-height: 4;
}