body {
    background-color: red;
}

.boxes {
    display: flex;
}

@media screen and (orientation: portrait) {
    body {
        background-color: purple;
    }
}

@media only screen and (max-width: 350px) {
    /* We can also apply mid width style to it. */
    body {
        background-color: blue;
    }

    .boxes {
        flex-direction: column;
    }
}

.box {
    width: 344px;
    height: 344px;
    background-color: steelblue;
    padding: 3px;
    margin: 3px;
}

/* @media not|only mediatype and 
(expressions) {
    CSS-Code;
} */