.box {
    width: 10vw;
    height: 40vh;
    border: 2px solid black;
    overflow: scroll;
    white-space: nowrap;
    /* 
    Do the following to view the content as dotted (...) and hidden :
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    */
}